# .clang-format

BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
AllowShortBlocksOnASingleLine: Empty
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 100
Cpp11BracedListStyle: true
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 2
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: true
SpacesInParentheses: false
SpacesInCStyleCastParentheses: false
SortIncludes: false